@import url();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3f2fd;
}

.wrapper { 
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background: black;
}

.wrapper header {
    color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider input {
    accent-color: #fff;
}

.keys-chechbox input {
    width: 30px;
    height: 60px;
    appearance: none;
    background: yellowgreen;
}

.keys-chechbox input::before {
    content: "";
    height: 20px;
    width: 20px;
    top: 50%;
    left: 5px;
    border-radius: inherit;
    position: absolute;
    background: #8c8c8c;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys-chechbox input:checked::before {
    left: 35px;
    background: #fff;
}

.piano-keys {
    display: flex;
    margin-top: 40px;
}

.piano-keys .key {
    list-style: none;
    color: #a2a2a2;
}

.piano-keys .white {
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333 96%, #000 4%);
}

.piano-keys .black {
    width: 70px;
    height: 230px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}
