body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c35;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.wheel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ffcc00;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.choice {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 60px 0;
    border-color: #007bff transparent transparent transparent;
    transform-origin: center center; /* Modification de l'origine de la transformation */
    transform: translateX(-50%) translateY(-50%) rotate(var(--rotation)); /* Ajout du décalage vertical */
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
}

.choice:nth-child(even) {
    border-color: #ff4500 transparent transparent transparent;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
