/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f7fb;
}

::selection {
    color: #fff;
    background-color: #000;
}

.container {
    padding: 2rem 7rem;
    border-radius: 14px;
    background: #fff;
}

.result-img {
    display: flex;
    column-gap: 7rem;
}

.container.start .user-result {
    transform-origin: left;
    animation: userShake 0.7s ease;
}

@keyframes userSnake {
    50% {
        transform: rotate(10deg);
    }
}

.container.start .cpu-result {
    transform-origin: right;
    animation: cpuShake 0.7s ease;
}

@keyframes cpuShake {
    50% {
        transform: rotate(-10deg);
    }
}

.result-img img {
    width: 100px;
}

.user-result img {
    transform: rotate(90deg);
}

.cpu-result img {
    transform: rotate(-90deg) rotateY(180deg);
}

.result {
    text-align: center;
    font-size: 2rem;
    color: #de0d64;
    margin-top: 1.5rem;
}

.option-img img {
    width: 50px;
}

.option-imges {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;
}

.container.start .option-imges {
    pointer-events: none;
}

.option-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
}

.option-img:hover {
    opacity: 1;
}

.option-img.active {
    opacity: 1;
}

.option-img img {
    pointer-events: none;
}

.option-img p {
    color: #3477eb;
    font-size: 1.235rem;
    margin-top: 1rem;
    pointer-events: none;
} */


import url();

:root {
    --light-text: #ffffff;
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --outline: hsl(217, 16%, 45%);
    --bg-grad-1: hsl(214, 47%, 23%);
    --bg-grad-2: hsl(237, 49%, 15%);
    --scissors-1: hsl(39, 89%, 49%);
    --scissors-2: hsl(40, 84%, 53%);
    --paper-1: hsl(230, 89%, 62%);
    --paper-2: hsl(230, 89%, 65%);
    --rock-1: hsl(349, 71%, 52%);
    --rock-2: hsl(349, 70%, 56%);
}

body {
    font-family: "Barlow Semi Condesed", sans-serif;
    background-color: radial-gradiel;
    min-height: 100vh;
    text-transform: uppercase;
}

.container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border: 3px solid var(--outline);
    border-radius: 20px;
    padding: 1rem 1.4rem 1rem 2rem;
}

.logo img {
    height: 100%;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    width: 150px;
    height: 100%;
    line-height: 1;
}

.score__title {
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    color: var(--score-text);
}

.score__nomber {
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark-text);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(288, 45%, 44%);
}
