* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background-color: url(./assets/);
}

.game {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
